.home-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 95vh;
  max-height: 95vh;
}

.btn-slide {
  width: 42px;
  height: 42px;
  font-size: 1.625rem;
  z-index: 4;
  border: none;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--secondary-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
}

.btn-slide:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: -42px;
  transform: translateY(-60%);
  transition: all 0.3s ease-in-out;
}
.next {
  top: 50%;
  right: -42px;
  transform: translateY(-60%);
  transition: all 0.3s ease-in-out;
}

.home-carousel:hover > .prev {
  left: 20px;
}

.home-carousel:hover > .next {
  right: 20px;
}

.container-dots {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.sliderDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray-300);
  margin: 0 5px;

  cursor: pointer;
}
.sliderDot.active-dot {
  background: var(--secondary-color);
}

@media (max-width: 1200px) {
  .home-carousel {
    min-height: 75vh;
    max-height: 75vh;
  }

  .container-dots {
    display: flex;
  }
}

@media (max-width: 1050px) {
  .home-carousel {
    min-height: 65vh;
    max-height: 65vh;
  }
}

@media (max-width: 1024px) {
  .home-carousel {
    min-height: 50vh;
    max-height: 50vh;
  }

  .btn-slide {
    display: none;
  }
}

@media (max-width: 500px) {
  .home-carousel {
    min-height: 80vh;
    max-height: 80vh;
  }
}
