:root {
  --main-color: #000;
  --secondary-color: #f9aa01;
  --third-color: #222;
  --cart-btn: #ffe000;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

body {
  background-color: var(--main-color);
}

h1 {
  font-size: 4rem;
}

.container {
  width: 92%;
  max-width: 1280px;
  margin: auto;
}

.text-shadow {
  font-weight: 700;
  text-shadow: 2px -2px 2px #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
