:root {
  --main-color: #000;
  --secondary-color: #f9aa01;
  --third-color: #222;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #191c1f;
  --black: #000;
}

body {
  background-color: var(--main-color);
  color: var(--white);
}

section {
  padding: 6em 0;
}

h1 {
  font-size: 4rem;
}

.alt-bg-color {
  background-color: var(--third-color);
}

.container {
  width: 92%;
  max-width: 1280px;
  margin: auto;
}

.align-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-shadow {
  font-weight: 700;
  text-shadow: 2px -2px 2px #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.nav-open-background {
  display: none;
}

.simple-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.simple-col-2 {
  flex: 0 0 50%;
  padding: 15px;
}

.simple-col-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  line-height: 0 !important;
  background-color: var(--secondary-color);
}

.simple-col-img img {
  width: 100%;
}

.simple-col-img .img-fade {
  transition: all 0.3s ease-in-out;
}

.simple-col-img:hover .img-fade {
  opacity: 0.2;
}

.simple-col-img .img-expand {
  transition: transform 0.4s linear;
}

.simple-col-img:hover .img-expand {
  transform: scale(1.2);
}

.hover-border {
  transition: all 0.4s linear;
}

.hover-border:hover {
  box-shadow: 0px 0px 3px 2px var(--secondary-color);
}

.simple-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  padding: 1.75rem;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.simple-img-text hr {
  margin-top: 1rem;
  border: none;
  background: var(--white);
  height: 2px;
}

.simple-col-img:hover .simple-img-text {
  opacity: 1;
}

.complex-img-text {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5rem 3rem;
  text-align: center;
  text-transform: uppercase;
}

.complex-img-text h2 {
  font-size: 2rem;
  margin-top: 2.5rem;
}

.simple-col-3 {
  flex: 0 0 33.33%;
  padding: 0 10px;
}

.simple-grid-card {
  flex: 0 0 calc(33.33%);
  padding: 0 20px;
}

.grid-card-content {
  cursor: pointer;
}

.grid-card-content > p {
  font-size: 0.75rem;
  margin: 1rem 0;
}

.grid-card-content > h4 {
  line-height: 1.5;
  transition: color 0.3s ease-in-out;
}

.grid-card-content:hover > h4 {
  color: var(--secondary-color);
}

.card-image {
  display: grid;
  place-items: center;
}

.card-image img {
  width: 100%;
}

@media (max-width: 1250px) {
  .nav-open-background {
    display: block;
    position: fixed;
    z-index: 800;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .complex-img-text h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 1025px) {
  .simple-grid-card {
    flex: 0 0 calc(50%);
    margin: 10px 0;
  }

  .early-full-width {
    flex: 0 0 100%;
    padding: 15px;
  }

  .simple-col-3 {
    flex: 0 0 50%;
    padding: 15px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .simple-grid-card {
    flex: 0 0 calc(100%);
    padding: 0 10px;
    margin: 20px 0;
  }

  .simple-col-2 {
    flex: 0 0 100%;
    padding: 15px;
  }

  .simple-col-3 {
    flex: 0 0 100%;
    padding: 15px;
  }

  .complex-img-text h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .complex-img-text {
    padding: 2rem 1rem;
  }

  .complex-img-text h2 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 400px) {
  .grid-card-content > p {
    font-size: 0.688rem;
    margin: 1rem 0;
  }

  .grid-card-content > h4 {
    font-size: 0.875rem;
  }

  .complex-img-text h2 {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .complex-img-text {
    padding: 1rem 0;
  }

  .complex-img-text h2 {
    font-size: 0.75rem;
  }
}
