.shop-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "searchQuery ..... ..... dropdown"
    "sidebar product product product"
    "sidebar product product product"
    "sidebar product product product"
    "..... product product product"
    "..... footer footer footer";
  padding-top: 2rem;
}

.shop-search-query {
  grid-area: searchQuery;
  align-self: end;
}

.shop-search-query span {
  color: var(--secondary-color);
}

.shop-dropdown-box {
  grid-area: dropdown;
  justify-self: end;
}

.shop-sidebar {
  grid-area: sidebar;
  border-radius: 5px;
  background-color: var(--third-color);
}

.shop-product {
  grid-area: product;
}

.shop-product-results {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.shop-footer {
  grid-area: footer;
}

@media (max-width: 1025px) {
  .shop-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "searchQuery dropdown"
      "sidebar sidebar"
      "product product"
      "footer footer";
  }
}

@media (max-width: 780px) {
  .shop-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "searchQuery"
      "dropdown"
      "sidebar"
      "product"
      "footer";
  }

  .shop-dropdown-box {
    justify-self: start;
  }
}
